.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 2.5px 1.5em 0 0;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  border-radius: 25px;
  border: 2px #5940f0 solid;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 0.5px;
  top: 0.5px;
  width: 21px;
  height: 21px;
  background-color: #7ef024;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #5940f0;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  border-color: #7ef024;
}
